.data {
  background-color: red;
  height: 100vh;
  padding: 100px;
}

.titles {
  background-color: green;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.data-p {
  background-color: transparent;
  border-bottom: 1px solid rgb(63, 63, 63);
  padding: 10px;
  margin-bottom: 0px;
}

p,
.btn__p {
  color: white;
  width: 25%;
  text-align: center;
  padding: 10px;
}

.btn__p{
  display: flex;
  justify-content: space-between;
}

.container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  min-height: 298px;
}

form {
  width: 30%;
  background-color: rebeccapurple;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}
input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  padding-inline: 8px;
  color: white;
}
