.app {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data {
  border: 2px solid white;
  border-radius: 5px;
  width: 80%;
  height: 85%;
  background-color: rgba(44, 43, 43, 0.64);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.pages {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: max-content;
}

h1 {
  color: white;
  letter-spacing: 1px;
  font-size: 42px;
}

.top {
  display: flex;
  justify-content: space-between;
}

form {
  background-color: black;
  width: 29%;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 12px;
}

.search {
  color: white;
  font-size: 22px;
}

input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding-left: 10px;
  font-size: 14px;
}

.rigth__top {
  color: white;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  color: white;
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  text-align: center;
  padding-top: 110px;
  letter-spacing: 2px;
}

.titles {
  width: 100%;
  background-color: white;
  display: flex;
  color: black;
}

p {
  padding: 10px;
  width: 25%;
  text-align: center;
}

.data-p {
  background-color: black;
  color: white;
}

.heading {
  font-weight: bold;
}

::placeholder {
  padding-left: 3px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-block: 10px;
}
